<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      /* Estilos para la lista desplegable */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      .dropdown span {
        display: inline-block;
        padding: 8px 12px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
      }

      .dropdown span:hover {
        background-color: #555;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Estás mirando la página de inicio, navega a las siguentes tablas para hacer CRUD:</p>
    <div class="dropdown">
      <span>Selecciona una opción</span>
      <div class="dropdown-content">
        <a href="/Profesor">Profesor</a>
        <a href="/Estudiante">Estudiante</a>
      </div>
    </div>
  </body>
</html>
