<!DOCTYPE html>
<html>
<head>
    <title>Lista de Cursos</title>
</head>
<body>
    <h1>Lista de Cursos</h1>
    <ul>
        <% Curso.forEach(function(curso) { %>
            <li><%= curso.Nombre %> - <%= curso.categoria %></li>
        <% }); %>
    </ul>
</body>
</html>
