<!DOCTYPE html>
<html>
<head>
    <title>Cursos</title>
</head>
<body>
    <h1>Lista de Cursos</h1>
    <ul>
        <% Curso.forEach(function(curso) { %>
            <li>
                <a href="/Cursos/:<%= Curso.id_curso %>">
                    <%= curso.Nombre %> - <%= curso.categoria %>
                </a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
